body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

.header-logo {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.menu-button {
    display: none;
}

.user-menu {
    display: none;
}

/* Misc */

h3 {
    font-size: 2rem;
}

.input,
.input:focus {
    background-color: rgba(170, 170, 170, 0.5);
    border-color: transparent;
    color: #EEEEEE;
    height: 45px;
    font-size: 1.5rem;
}

.input::placeholder {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #EEEEEE;
}

.btn {
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.35);
    border-style: none;
    font-weight: bold;
    min-width: 175px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    z-index: 1
}

.primary-btn {
    background-color: #69D8FF;
    color: #FFFFFF;
}

.primary-btn:hover {
    background-color: #EEEEEE;
    color: #69D7FF;
    border: 3px #69D8FF solid;
    cursor: pointer;
}

.secondary-btn {
    background-color: #FFFFFF;
    color: #69D8FF;
    border: 3px #69D8FF solid;
}

.secondary-btn:hover {
    background-color: #69D7FF98;
    color: #FFFFFF;
    cursor: pointer;
}


/* Responsive*/

@media screen and (max-device-width: 987px) {
    [role="main"] {
        padding-top: 65px;
    }
    .user-menu {
        display: block;
    }
    .header-logo img {
        width: inherit;
    }
}

@media screen and (max-device-width: 575px) {
    [role="main"] {
        padding-top: 100px;
    }
    .menu-button {
        display: block;
    }
    .header-logo {
        justify-content: center;
    }    
    .header-logo img {
        width: auto;
    }
}
