body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgba(94, 94, 94, 0.5);
}

main {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    max-width: 1080px;
}

header {
    box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.35);
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 125px;
    z-index: 1000;
    padding: 0 100px;
}

header .header-logo {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    width: 50%;
    height: auto;
}

header .header-logo img {
    height: auto;
}

header .header-actions {
    align-items: center;
    display: flex;
    flex-grow: 1;
	flex-wrap: wrap;
	justify-content: flex-end;
    width: 50%;
    height: auto;
}

header .header-actions>*{
	margin:0 1rem;
}

.landing-container {
    display: flex;
    flex-flow: row;
    background-image: url("../assets/img1.png");
    background-color: transparent;
    height: 742px;
    width: 100%;
    z-index: 500;
}

.landing-container .landing-download {
    color: #FFFFFF;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    width: 50%
}

.landing-container .landing-form {
    color: #FFFFFF;
    width: 50%
}

.landing-container .landing-form form {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
}

.benefits-container {
    display: flex;
    flex-flow: row;
    background-image: url("../assets/img2.png");
    height: 600px;
    width: 100%;
    margin-top: -90px;
    padding: 90px 0 0 0;
    z-index: 250;
}

.benefits-container .single-benefit {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    color: #000000;
    width: 50%
}

.features-container {
    display: flex;
    flex-flow: row;
    background-image: url("../assets/img3.png");
    background-color: transparent;
    height: 516px;
    width: 100%;
    margin-top: -117px;
    padding: 45px 0 0 0;
    z-index: 250;
}

.features-container .single-feature {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    color: #FFFFFF;
}

.features-container .single-feature p {
    color: #aaaaaa;
}

footer {
    background-color: #8CC63F;
    color: #FFFFFF;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: flex-end;
    height: 200px;
    margin-top: -42px;
    padding: 42px 0 0 0;
    z-index: 100;
    width: 100%;
}

footer p {
    font-size: 3rem;
    font-weight: bolder;
}

/* Misc */

.input {}

.btn {
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.35);
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 175px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    z-index: 1
}

.primary-btn {
    background-color: #69D8FF;
    color: #FFFFFF;
}

.primary-btn:hover {
    background-color: #EEEEEE;
    color: #69D7FF;
	border: 3px #69D8FF solid;
	cursor: pointer;
}

.secondary-btn {
    background-color: #FFFFFF;
    color: #69D8FF;
    border: 3px #69D8FF solid;
}

.secondary-btn:hover {
    background-color: #69D7FF98;
	color: #FFFFFF;
	cursor: pointer;	
}